$font1: 'Source Sans Pro', sans-serif;
$font2:'Hind', sans-serif;
$font3:'Fresca', sans-serif;
$color_text: #b6c3ce;
$color_bg: #21232e;
$color_heading: #2c2f3c;
$bg_gradient: -webkit-linear-gradient(0deg, rgba(97,145,25,1) 0%, rgba(97,145,25,1) 30%, rgba(50,96,201,1) 100%);
$color_before: #14a0c7;
$header_bg: url("../img/m-h-day.jpg") no-repeat center center;
$bg_main:#fff;
$bg_btn: #739900;
