$font1: 'Source Sans Pro', sans-serif;
$font2:'Hind', sans-serif;
$font3:'Fresca', sans-serif;
$color_text: #e7ffff;
$color_bg: #3b3f50;
$color_heading: #ffffff;
$bg_gradient: -webkit-linear-gradient(0deg, rgba(218,157,10,1) 0%, rgba(188,110,40,1) 52%, rgba(150,50,80,1) 100%);
$color_before: #ff4e33;
$header_bg: url("../img/m-h-night.jpg") no-repeat center center;
$bg_main: #21232e;
$bg_btn: #e3ac00;